(function(){
  namespace('se.views')
  
  se.views.StoresSearcher = Backbone.Marionette.Layout.extend({
    tagName: 'div',
    className: 'span12',
    id: 'search-form',
    
    template: JST['app/templates/stores_searcher'],
    
    events: {
      'submit form': 'searchStores'
    },
    
    onRender: function() {
      $categorySelect = this.$el.find("#searcher_categories");
      _.each(STORES_CATEGORIES, function(category){
        $categorySelect.append($("<option value='" + category + "'>" + category + "</option>"))
      })
    },
    
    templateHelpers: {
      loadingImg: function() {
        return "<%= asset_path('loading.gif') %>"
      }
    },
    
    searchStores: function(event) {
      _this = this;
      if (event) {
        event.preventDefault();
      }
      this.$el.find("form").ajaxSubmit({
        success: function(response) {
          _this.overlayToggle();
          _this.collection.reset(response);
        },
        beforeSubmit: function() {
          _this.overlayToggle();
        }
      });
    },
    
    overlayToggle: function() {
      this.$el.find('.overlay').toggle()
    }
  })
  
})()