// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./variables.css.scss";

.left-bar {
  
}

#search-form {
  padding: 10px;
  background-color: $c_grey;
  position: relative;
  
  .overlay {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 140px;
    background-color: white;
    opacity: 0.5;
    vertical-align: middle;
    display: none;
  }
  
  form {
    margin-bottom: 0;
  }
  
  select, input {
    margin: 5 5px;
  }
  
  .btn {
    margin-bottom: 10px;
  }
  
}

#stores-list {
  overflow-x: scroll;
  margin-left: 0;
  max-height: 600px;
  table {
    width: 2000px;
    tbody {
      td {
        div {
          white-space: nowrap;
        }
      }
    }
  }
}


.map_canvas {
  background-color: grey;
  height: 300px;
}

.detail_container {
  height: 300px;
  margin-top: -300px;
  position: relative;
  background-color: rgba(255,255,255,0.4);
  margin-left: 0px !important;
  position: relative;
  z-index: 200;
  
  .detail_panel {
    width: 75%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    .address_panel {
      font-weight: 600;
    }
  }
  .connect_panel {
    position: absolute;
    bottom: -50px;
  }
}

.coordinate_container {
  height: 30px;
  bottom: 0;
  right: 0;
  position: absolute;
  h5 {
    line-height: 20px;
    margin: 5px;
    text-align: center;
    background-color: white;
  }
}


p.hours_panel {
  margin-top: 50px;
  background-color: gray;
  padding: 10px;
  color: white;
  text-align: right;
}

button.add_to_db {
  line-height: 30px;
  float: right;
  margin-top: 10px;
}